@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root{
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background: url("images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
}

sub{
    position: relative;
    font-size: 15px;
    top: -3px;
}

.container{
    display: flex;
}

/*.pop{
    
    display: inline-block;
    background: white;
}*/

.bold{
    font-weight: 700;
}

.left{
    height: 100px;
    width: 170px;
    border: 1px;
    padding: 20px 70px 20px 20px;
    margin-right: 50px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    border-top-right-radius: 50px;
}

.icons{
    display: flex;
    margin-top: 10px;
}
.icon{
    text-align: center;
    padding: 5px;
    margin: 0px 10px 0 0;
    background-color: hsl(229, 57%, 11%);
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 25%;
}

.fixxx img{
    margin: 2px auto;
}

.right{
    padding: 20px;
    padding-left: 40px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    width: 450px;
}


.right p{
    display: inline-block;
    width: 60%;
}
.progress-bar{
    width: 90%;
}
.progress-bar progress{
    width: 100%;
}
progress{
    height: 15px;
    background-color: lightblue;
    border-radius: 15px;
    overflow: hidden;
}

progress::-webkit-progress-value{
    border-radius: 15px;
    background: linear-gradient(-45deg,#e66465, #9198e5);
}
progress::-webkit-progress-bar {
    background-color: hsl(229, 57%, 11%);
    border: 1px solid hsl(229, 57%, 11%);
  }
progress::-moz-progress-value{
    border-radius: 15px;
    background: linear-gradient(-45deg,#e66465, #9198e5);
}
progress::-moz-progress-bar {
    background: linear-gradient(-45deg,#e66465, #9198e5);
  }

.fix{
    display: flex;
    justify-content: space-between;
}

#bob{
    margin-top: 5px;
    display: inline-block;
    margin-left: 310px;
  }
#obo{
    display: inline-block;
}

.poppins{
    display: inline-block;
}

.ram{
    position: relative;
    scale: 8 5;
    transform: rotateY(-180deg);
    left: 90px;
    top: -40px
}
.poppins span{
    position: relative;
    left: 40px;
    top: -48px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid white;
    padding: 15px;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    
}

@media (max-width:500px){
    .container{
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        margin: auto;
        gap: 15px;
    }

    body{
        background: url("images/bg-mobile.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .left,.right{
        width: 100%;
        height: fit-content;
    }
    .right{
        width: 80%;
    }
    .right p{
        width: 100%;
        text-align: center;
    }
    .poppins span{
        top:100px;
        left: 100px;
        border-radius: 10px;
    }
}